<p style="text-align:center; font-size: 20px"><b>Circles!</b></p>
<div class="form-group">
<div class="input-group">
	<div class="input-group-user"><i class="fa fa-users"></i></div>
	<input type="text" [(ngModel)]='Crcle' placeholder= "@circleName" class="form-control">
</div>
<button class="btn btn-blue" (click)="createCircle(Crcle)">Create</button>
</div>
<div>
	<ul>
		<li *ngFor="let circle of circles" (click) = "selectCircle(circle.circleName)">
			{{circle.circleName}}
		</li>
	</ul>
</div>
