<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="heading">
      <h1>Welcome to Angular dashboard!
        <button class="btn btn-logout" (click)="signout()">Logout</button>
      </h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 col-xl-4 sidebar">
        <div>
          <app-user (selectedUser)="onSelect($event)"></app-user>
        </div>
        <div>
          <app-circle (selectedCircle)="onSelect($event)"></app-circle>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-xl-8 msgBox">
        <app-message [messageObj]="currentSelected"></app-message>
      </div>
    </div>
      </div>
  </body>



